[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
pillow = "*"
psycopg2-binary = "*"
redis = "*"
drf-nested-routers = "*"
gunicorn = "*"
sentry-sdk = {extras = ["django"], version = "*"}

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
django-debug-toolbar = "*"
model-bakery = "*"

[requires]
python_version = "3.12"
